html,
body {
  height: 100%;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lemon Tuesday;
  src: url("../fonts/Lemon Tuesday.otf");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
}
div a:hover {
  text-decoration: none;
  color: black;
}
.flex-container {
  display: flex;
  width: 1140px;
  /*
   min-width: 1140px;
  max-width: 1920px;
*/
  margin: 0 auto;
}
.header-logo {
  height: 98px;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  margin-bottom: 5px;
}
.header-logo img {
  margin-right: 7px;
}
.header-logo a {
  color: black;
}
.header-logo-img {
  width: 246px;
}
.header-adress {
  width: 306px;
  letter-spacing: -0.9px;
}
.header-email {
  width: 238px;
  letter-spacing: -0.9px;
}
.header-phone {
  width: 179px;
  padding-top: 10px;
}
.header-phone a {
  font-size: 18px;
  font-weight: 700;
  color: #010101;
  letter-spacing: -0.8px;
}
.header-phone p {
  font-size: 10px;
}
.header-logo-btn {
  background: white;
  width: 171px;
  height: 38px;
  border: #1fba0a 1px solid;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #1fba0a;
  text-transform: uppercase;
}
.header-border {
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}
.header-menu {
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.flex-link {
  width: auto;
}
.flex-link a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: black;
}
.flex-link img {
  margin-right: 12px;
  margin-top: -2px;
}
.header-menu-dropdown {
  padding-left: 32px;
}
.active-link {
  width: 191px;
  height: 50px;
  background: #84c604;
  padding-top: 10px;
  padding-left: 25px;
}
.active-link a {
  color: white;
}
.active-link a:hover {
  color: white;
}
.header-menu-card {
  padding-right: 29px;
  position: relative;
}
.header-menu-cadr-quantity {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #fd4f10;
  border-radius: 2px;
  font-size: 7px;
  color: white;
  padding-left: 3px;
  margin-left: 15px;
}
.carousel {
  height: 675px;
}
.carousel-img {
  height: 675px;
}
.carousel-info {
  z-index: 5;
  margin-top: -300px;
  color: red;
  font-size: 30px;
}
.banner {
  position: relative;
  width: 1140px;
  z-index: 2;
  margin: 0 auto;
  margin-top: -545px;
}
.banner h1 {
  font-family: Lemon Tuesday;
  font-size: 110px;
  font-weight: 400;
  color: #84c604;
  line-height: 100px;
  margin-bottom: 48px;
  margin-left: 1px;
  letter-spacing: -1px;
}
.banner p {
  font-size: 26px;
  font-style: italic;
  color: white;
  margin-bottom: 56px;
  margin-left: 10px;
}
.banner button {
  background: #fd4f10;
  text-transform: uppercase;
  width: 246px;
  height: 55px;
  padding: 13px 70px 18px 74px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.55px;
  color: #fefffe;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}
.banner-sale {
  position: absolute;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  background: red;
  color: white;
  padding: 36px 19px 37px 20px;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  left: 586px;
  top: -17px;
  line-height: 38px;
}
.menu-tittle {
  padding-top: 36px;
  justify-content: center;
  height: 184px;
  align-items: center;
}
.menu-tittle-img {
  width: auto;
}
.menu-tittle-img img {
  width: 109px;
}
.menu-tittle-text {
  width: 188px;
  font-size: 60px;
  font-family: "Lemon Tuesday";
  color: #32505a;
}
.menu-tittle-text p {
  margin-left: 36px;
  margin-top: 13px;
}
/*# sourceMappingURL=styles.css.map */