
html,
body {
  height: 100%;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: Lemon Tuesday;
  src: url("../fonts/Lemon Tuesday.otf");
  font-weight: normal;
font-style: normal;
}
div {
  box-sizing: border-box;
  a:hover {
    text-decoration: none;
    color: black;
  }
}
.flex-container {
  display: flex;
  width: 1140px;

  /* min-width: 1140px;
  max-width: 1920px;
  padding-left: 15px;
  padding-right: 15px;*/

   margin: 0 auto;
}
.header-logo {
  height: 98px;
  justify-content: space-between;
  img {
    margin-right: 7px;
  }
  a {
    color: black;
  }
  font-size: 14px;
  align-items: center;
  margin-bottom: 5px;
}
.header-logo-img {
  width: 246px;
}
.header-adress {
  width: 306px;
  letter-spacing: -0.9px;
}
.header-email {
  width: 238px;
  letter-spacing: -0.9px;
}
.header-phone {
  width: 179px;
  padding-top: 10px;
  a {
    font-size: 18px;
    font-weight: 700;
    color: #010101;
    letter-spacing: -0.8px;
  }
  p {
    font-size: 10px;
  }
}
.header-logo-btn {
  background: white;
  width: 171px;
  height: 38px;
  border: #1fba0a 1px solid;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #1fba0a;
  text-transform: uppercase;
}
.header-border {
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}
.header-menu {
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
.flex-link {
  width: auto;
  a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: black;
  }
  img {
    margin-right: 12px;
    margin-top: -2px;
  }
}
.header-menu-dropdown {
  padding-left: 32px;
}
.active-link {
  width: 191px;
  height: 50px;
  background: #84c604;
  padding-top: 10px;
  padding-left: 25px;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}
.header-menu-card {
  padding-right: 29px;
  position: relative;
}

.header-menu-cadr-quantity {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #fd4f10;
  border-radius: 2px;
  font-size: 7px;
  color: white;
  padding-left: 3px;
  margin-left: 15px;
}
.carousel {
  height: 675px;

}
.carousel-img {
  height: 675px;
}
.carousel-info {
  z-index: 5;
  margin-top: -300px;
  color: red;
  font-size: 30px;
}
.banner {
  position: relative;
  width: 1140px;
  z-index: 2;
  margin: 0 auto;
  margin-top: -545px;
  h1 {
    font-family: Lemon Tuesday;
    font-size: 110px;
    font-weight: 400;
    color: #84c604;
    line-height: 100px;
    margin-bottom: 48px;
    margin-left: 1px;
    letter-spacing: -1px;
  }
  p {
    font-size: 26px;
    font-style: italic;
    color: white;
    margin-bottom: 56px;
    margin-left: 10px;
  }
  button {
    background: #fd4f10;
    text-transform: uppercase;
    width: 246px;
    height: 55px;
    padding: 13px 70px 18px 74px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.55px;
    color: #fefffe;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }
}
.banner-sale {
  position: absolute;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  background: red;
  color: white;
  padding: 36px 19px 37px 20px;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  left: 586px;
  top: -17px;
  line-height: 38px;
}
.tittle-margin {
  width: 100%;
  height: 20px;
  background: white;
}
.menu-tittle, .menu-btn {
  padding-top: 16px;
  justify-content: center;
  height: 164px;
  align-items: center;
}
.menu-btn {
  padding-top: 36px;
  height: 56px;
  img {
    width: 27px;
    height: 20px;
  }
  p {
    color: #b2b2b2;
    font-size: 65px;
    letter-spacing: 12px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -23px;
  }
}
.menu-tittle-img {
  width: auto;
  img {
    width: 109px;
  }
}
.menu-tittle-text {
  width: auto;
  font-size: 60px;
  font-family: "Lemon Tuesday";
  color: #32505a;
  p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 13px;
  }
}
.carousel-menu {
  height: 461px;
  justify-content: space-between;
}
.carousel-card {
  position: relative;
  text-align: center;
  width: 263px;

  img {
    margin-bottom: 25px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  button {
    margin-left: -24px;
    background: #fd4f10;
    width: 193px;
    height: 41px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-top: 3px;
    border: none;
    padding: 12px 30px 14px 0;
  }
}
.fire {
  position: absolute;
  width: 49px;
  height: 49px;
  padding-top: 7px;
  border-radius: 50%;
  background: red;
  left: 198px;
  bottom: 390px;
}
.btn-img {
  width: 22px;
  height: 20px;
  margin-left: -54px;
  margin-top: 31px;
}
.card-container-info {
  display: inline-block;
  height: 15px;
  margin-bottom: 14px;
  p {
    float: left;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
  padding-right: 3px;
  }
}
.line {
  border-right: black 1px solid;
}
.circle {
   width: 13px;
  height: 13px;
  border-radius: 50%;
  float: left;
  margin-top: 11px;
  font-size: 13px;
  margin-left: 7px;
  border: #808080 1px solid;
  p {
    margin-top: -4px;
    margin-left: 2px;
  }
}
.price {
  font-size: 24px;
  font-weight: 700;
  float: left;
  margin-right: 4px;
}
.ruble, .card-rolls-ruble {
  font-size: 14px;
  margin-top: 3px;
  float: left;
  margin-right: 30px;
}
.numeral {
  margin-left: 15px;
  margin-right: 26px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.card-rolls {
  padding-top: 22px;
  img {
    margin-bottom: 45px;
  }
}
.card-rolls-ruble {
  margin-right: 47px;
}
.rolls-btn-margin {

}
.rolls-btn {
  margin-top: 52px;
}
.card-rolls-btn {
  margin-top: -22px;
}
.card-wok {
  padding-top: 27px;
  img {
    margin-bottom: 42px;
  }
}
.carousel-wok {
  height: 537px;
  margin-bottom: 15px;
}
.card-container-wok {
  display: inline-block;
  height: 15px;
  margin-bottom: 14px;
  p {
    float: left;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    margin-left: 5px;
  }
}
.card-container-add {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  p {
    float: left;
    margin-right: 7px;
    font-size: 12px;
  }
}
.form-ruble {
  font-size: 12px;
  float: left;
  span {
    font-size: 8px;
    margin-top: -5px;
  }
}
.card-container-add-form {
  width: 20px;
  height: 22px;
  float: left;
  margin-top: -3px;
  background: #f2f2f2;
}
.card-container-add-form-delete {
  width: 20px;
  height: 22px;
  margin-right: 19px;
  margin-left: -1px;
  float: left;
  padding-right: 3px;
  margin-top: -3px;
}
.card-container-add-form-submit {
  float: left;
  width: 19px;
  height: 19px;
  background: #fd4f10;
  border-radius: 2px;
  color: black;
  font-size: 20px;
  padding-bottom: 7px;
}
.delete, .submit {
  position: absolute;
  bottom: 10px;
}
.delete {
  left: 91px;
  bottom: 15px;
}
.submit {
  left: 175px;
  font-size: 20px;
  color: white;
}
.add-container-menu-dropdown {
  width: 193px;
  height: 25px;
}
.add-container-menu {
  margin-left: 36px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.card-dropdown-menu {

  background: #f2f2f2;
  width: 193px;
  border-radius: 3px;
  padding-left: 14px;
  a {
    background: linear-gradient(to bottom, #f2f2f2, gainsboro);
     width: 24px;
   padding: 4px 7px 3px 8px;
   border-radius: 3px;
    margin-left: 52px;
   color: grey;
  }
}
.card-dropdown-menu-text {
  font-size: 12px !important;
}
.price-wok {
  font-size: 22px;
}
.card-container-info-wok {
  margin-bottom: 18px;
}
.container-new {
  background: url("../img/carousel-background.png");
  width: 100%;
  height: 739px;
  margin-top: 45px;
}
.new-tittle {
  justify-content: flex-start;
  padding-top: 63px;
  margin-bottom: 33px;
  p {
    color: #fd4f10;
    font-size: 18px;
    span {
      color: #999999;
      margin-left: 80px;
    }
  }
}
.new {
  position: absolute;
  bottom: 402px;

  p {
    margin-top: -105px;
    transform: rotate(-51grad);
    margin-left: -27px;
    color: white;
    font-weight: 700;
  }
}
.advertising {
  margin-top: 35px;
}
.container-advertising {
  text-align: center;
  height: 170px;
  width: auto;
  img {
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
  }
}
.flex-container-advertising {
  height: 170px;
  margin-top: 38px;
}
.container-forms-background {
  width: 100%;
  height: 356px;
  margin-top: 169px;
  background: url("../img/info-background.png") no-repeat #141615;
}
.container-forms {
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-left: 410px;
  h2 {
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0;
  }
  h3 {
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Lemon Tuesday";
    color: white;
    margin-top: -5px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    color: white;
    margin-top: 31px;
    opacity: 0.7;
  }
}
.form-row {
  margin-top: 25px;
}
.forms-style {
  width: 241px;
  height: 38px;
  border: none;
  background: none;
  margin-right: 30px;
  color: white;
  padding-left: 14px;
  border-bottom: white 1px solid;
}
.forms-btn {
    width: 192px;
    height: 48px;
  margin-top: -5px;
  margin-left: 5px;
    background: #fd4f10;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  }
input[type="text"]::-moz-placeholder {
    color: white;
  opacity: 1;
   font-size: 14px;
  padding-bottom: 11px;
   }
   input[type="text"]::-webkit-input-placeholder { color: white;
   opacity: 1;
     font-size: 14px;
  padding-bottom: 11px;
   }
   input[type="text"]:-ms-input-placeholder { color: white;
   opacity: 1;
     font-size: 14px;
  padding-bottom: 11px;
   }
   input[type="text"]::-ms-input-placeholder { color: white;
   opacity: 1;
     font-size: 14px;
  padding-bottom: 11px;
   }
   input[type="text"]::placeholder { color: white;
   opacity: 1;
     font-size: 14px;
  padding-bottom: 11px;
   }
   input[type="text"]::placeholder { color: white;
   opacity: 1;
     font-size: 14px;
  padding-bottom: 11px;
   }










